@page
@section Ad{
    index页面的Section
}

<h1>我是index内容页</h1>

@for (int a = 1; a <= 5; a++)
{
    for (int i = a; i < 5; i++)
    {
        <span>&nbsp;</span>
    }
    for (int b = 0; b < (a * 2) - 1; b++)
    {
        string color = "red";
        if (a % 2 == 0)
        {
            color = "red";
        }
        else
        {
            color = "blue";
        }
        <span style="color:@color">i</span>
    }
    <br />
}

