@page
@model CoreWeb.Pages.IndexModel
@section Ad{ 首页！}
<!DOCTYPE html>

<form method="post" asp-page="Index">
    <div>

    </div>
</form>

<h5 style="color:firebrick"><a href="Register">注册页面！</a></h5>
<h5 style="color:firebrick"><a href="Login">登陆页面！</a></h5>
<h5 style="color:firebrick"><a href="UserData">个人资料！</a></h5>









