@page
@model CoreWeb.Pages.LoginModel

<!DOCTYPE html>

<form method="post"asp-action="Login" >
    <div >
        <label>用户名：</label> <input asp-for="UserName"/>
    </div>
    <div>
        <lable >密码：</lable> <input asp-for="Password" />
    </div>
    <div>
        <button type="submit"  >提交 </button>
    </div>
</form>
