@page
@model CoreWeb.Pages.LoginModel
@section Ad{ 登陆页面}


<form method="post" asp-action="/Login">
    <div>
        <label>用户名：</label> <input asp-for="UserName" />
        <span asp-validation-for="UserName"></span>
    </div>
    <div>
        <lable>密码：</lable> <input type="password" asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <button type="submit" style="color:crimson">登陆</button>
        <input type="checkbox" name="sevendays" value="true" runat="server"  />一周内免登陆
    </div>
</form>

<form method="get" asp-page="/Index">
    <div>
        <button type="submit" asp-page="/Register" style="color:crimson">注册</button>
        <button type="submit" style="color:crimson">忘记密码</button>
    </div>
</form>

<h5 style="color:firebrick"><a href="Index">返回首页！</a></h5>
