@page
@model RegisterModel
@section Ad{ 注册页面}

<form method="post" asp-page="Register">
    <div>
        <label>用户名：</label><input type="text" asp-for="_register.UserName" /><br />
        <span style="color:red" asp-validation-for="_register.UserName"></span>
    </div>
    <div>
        <label>密码：</label><input type="password" asp-for="_register.PassWord" /><br />
        <span style="color:red" asp-validation-for="_register.PassWord"></span>
    </div>
    <div>
        <label>确认密码：</label><input type="password" asp-for="_register.ConfirmPassWord" /><br />
        <span class="text-warning" asp-validation-for="_register.ConfirmPassWord"></span>
    </div>
    <div>
        <button type="submit" style="color:crimson">注册</button>
        <button type="reset" style="color:crimson">重置</button>
    </div>
</form>


