@page
@model RegisterModel
@{Layout ="_yz"; }

<form method="post" asp-page="Register">
    <div>
        <label>用户名：</label><input type="text" asp-for="Register.UserName" /><br />
        <span style="color:red" asp-validation-for="Register.UserName"></span>
    </div>
    <div>
        <label>密码：</label><input type ="password" asp-for="Register.PassWord" /><br />
        <span style="color:red" asp-validation-for="Register.PassWord"></span>
    </div>
    <div>
        <label>确认密码：</label><input type="password" asp-for="Register.ConfirmPassWord" /><br />
        <span class="text-warning" asp-validation-for="Register.ConfirmPassWord"></span>
    </div>
    <div>
        <button type="submit">注册</button>
        <button type="reset">重置</button>
    </div>
</form>