<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <header>一起帮·源栈欢迎您</header>
    <div style="background-color:aquamarine">
        <section>
        @RenderSection("Ad", false)
        </section>
    </div>
    @RenderBody()
    <footer>大神小班……</footer>
</body>
</html>


 
