
<!DOCTYPE html>
<html>
<head>
    <title>
        @ViewData["Title"]
    </title>
</head>
<body>
    <h3 style="color:red">欢迎加入“一起帮”</h3>
    @RenderBody()
    <footer></footer>
</body>
</html>
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>