@page
@model CoreWeb.Pages.Task.History.MonthModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Month</title>
</head>
<body>
</body>
</html>
